<div class="container">
    <% include nav.ejs %>
    <div>
        <a href="/admin/category/add" class="btn btn-default">添加分类</a>
    </div>
    <table class="table">
        <tr>
            <td>分类名称</td>
            <td>代号</td>
            <td>操作</td>
        </tr>
        <% categories.forEach(function (c) {
        %>
        <tr>
            <td><%= c.name %></td>
            <td><%= c.code %></td>
            <td><a href="/admin/category/edit?id=<%= c._id.toString() %>">修改</a><a
                        href="/admin/category/del?id=<%= c._id.toString() %>">删除</a></td>
        </tr>
        <%
        }) %>
    </table>
</div>