<div class="container">
    <% include nav.ejs %>
    <div class="userList">
        <table class="table table-bordered">
            <tr>
                <td>ID</td>
                <td>用户名</td>
                <td>密码</td>
                <td>是否为管理员</td>
            </tr>
            <% users.forEach(function (u) {
            %>
            <tr>
                <td><%= u._id %></td>
                <td><%= u.username %></td>
                <td><%= u.pwd %></td>
                <td><%= (u.IsAdmin ? '是' : '否') %></td>
            </tr>
            <%
            }) %>

        </table>
    </div>
    <% include paging.ejs %>
</div>
