<div class="container">
    <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            <% if (userInfo._id){ %>
            <div class="loginSuccess">
                <div class="user"></div>
            </div>
            <% } %>
            <% else { %>
            <div class="login">
                <input type="text" name="username">
                <input type="password" name="pwd">
                <button>登录</button>
                <p>没有账号？ <a>马上注册</a></p>
                <div class="Info"></div>
            </div>

            <div class="register">
                <input type="text" name="username">
                <input type="password" name="pwd">
                <button>注册</button>
                <p>已有账号， <a>登录</a></p>
                <div class="Info"></div>
            </div>
            <% } %>

        </div>
    </div>
</div>