<div class="container">
    <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            <% if (userInfo._id){ %>
            <div class="loginSuccess">
                <% if (userInfo.IsAdmin){ %>
                <p><a href="/admin" target="_blank">管理我的博客</a></p>
                <% }else{ %>
                <p><span class="user"><%= userInfo.username %></span>，欢迎访问我的博客</p>
                <% } %>
                <a id="logOff">退出</a>
            </div>
            <% }else{ %>
            <div class="login">
                <input type="text" name="username">
                <input type="password" name="pwd">
                <button class="btn btn-default">登录</button>
                <p>没有账号？ <a>马上注册</a></p>
                <div class="Info"></div>
            </div>
            <div class="register">
                <input type="text" class="input-sm" name="username">
                <input type="password" name="pwd">
                <button class="btn btn-default">注册</button>
                <p>已有账号， <a>登录</a></p>
                <div class="Info"></div>
            </div>

            <% } %>
        </div>
    </div>
</div>